<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>

    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>


<div class="container-fluid">
    <div class="row">


        <div class="col-sm-12 p-2 bg-dark text-white ">

            <a class="font-weight-bold text-white" id="mailLine"> </a>
            <a> with roles:</a>
            <a id="upLine"> </a>
            <a href="/logout" class="float-right text-secondary"> Logout </a>
        </div>


        <div class="col-sm-2" style="padding-left: 0px; padding-right: 0px">
            <ul class="nav nav-tabs flex-column">

                <li class="nav-pills">
                    <a class="nav-link active" data-toggle="tab" href="#admin">Admin</a>
                </li>

                <li class="nav-pills ">
                    <a class="nav-link" data-toggle="tab" href="#user">User</a>
                </li>

            </ul>

        </div>

        <div class="col-sm-10 height: 1200 px" style="height: 1000px; background: #F7F7F7">

            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin">


                    <!--                    Панель Админ-->


                    <div class="row">

                        <div class="col-sm-12 p-3">
                            <h1>Admin panel</h1>
                        </div>


                        <div class="col">
                            <ul class="nav nav-tabs">

                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                                </li>

                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="usersTable">

                                    <table class="table table-striped bg-white">

                                        <tbody class="border">

                                        <tr>
                                            <th>All Users</th>
                                        </tr>

                                        <tr>
                                            <td>
                                                <table class="table">
                                                    <thead>
                                                    <tr class="bg-white">
                                                        <th scope="col">ID</th>
                                                        <th scope="col">First Name</th>
                                                        <th scope="col">Last Name</th>
                                                        <th scope="col">Age</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Role</th>
                                                        <th scope="col">Edit</th>
                                                        <th scope="col">Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tableUsers">

                                                    </tbody>
                                                </table>

<!--                                                Модальное окно-->
                                                <div id="modalWindow"></div>


                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>


                                <div class="tab-pane fade" id="newUser">

                                    <table class="table table-striped bg-white">

                                        <tbody class="border">

                                        <tr>
                                            <th>Add user</th>
                                        </tr>

                                        <tr class="centered">
                                            <td>

                                                <div class="col-sm-4 mx-auto">

                                                    <!--                                                    Добавление нового пользователя-->
                                                    <form class="form" id="formNewUser">

                                                        <table>

                                                            <tr>
                                                                <div class="form-group text-center">
                                                                    <strong>First name</strong>
                                                                    <input type="text"
                                                                           id="newFirstName"
                                                                           name="firstName"
                                                                           required
                                                                           class="form-control"
                                                                           placeholder="First name">

                                                                </div>
                                                            </tr>

                                                            <tr>
                                                                <div class="form-group text-center">
                                                                    <strong>Last name</strong>
                                                                    <input type="text" class="form-control"
                                                                           id="newLastName"
                                                                           name="lastName"
                                                                           required
                                                                           aria-describedby="ageHelp"
                                                                           placeholder="Last name">

                                                                </div>
                                                            </tr>

                                                            <tr>
                                                                <div class="form-group text-center">
                                                                    <strong>Age</strong>
                                                                    <input type="text" class="form-control"
                                                                           id="newAge"
                                                                           name="age"
                                                                           required
                                                                           aria-describedby="ageNameHelp"
                                                                           placeholder="Age">

                                                                </div>
                                                            </tr>

                                                            <tr>
                                                                <div class="form-group text-center">
                                                                    <strong>Email</strong>
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           id="newEmail"
                                                                           name="email"
                                                                           aria-describedby="emailHelp"
                                                                           placeholder="Email">

                                                                </div>
                                                            </tr>

                                                            <tr>
                                                                <div class="form-group text-center">
                                                                    <strong>Password</strong>
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           id="newPassword"
                                                                           name="password"
                                                                           aria-describedby="passwordHelp"
                                                                           placeholder="Password">

                                                                </div>
                                                            </tr>

                                                            <tr>
                                                                <div class="form-group text-center">
                                                                    <strong>Role</strong>
                                                                    <select id="newRoles"
                                                                            class="form-control form-control-sm"
                                                                            required
                                                                            multiple size="2" >
                                                                        <option value="ROLE_USER" label="USER"></option>
                                                                        <option value="ROLE_ADMIN" label="ADMIN"></option>
                                                                    </select>
                                                                </div>

                                                            </tr>

                                                            <tr>
                                                                <div class="col text-center p-3">
                                                                    <button onclick="newUser()" data-toggle="tab" class="btn btn-success btn-lg ">Add new user</button>
                                                                </div>
                                                            </tr>
                                                        </table>
                                                    </form>

                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

<!--                                Конец добавления пользователя -->


                            </div>
                        </div>
                    </div>
                </div>


<!--                Информация пользователя-->

                <div class="tab-pane fade" id="user">

                    <div class="row">

                        <div class="col-sm-12 p-3">
                            <h1>User information-page</h1>
                        </div>

                        <div class="col">

                            <table class="table table-striped bg-white">

                                <tbody class="border">

                                <tr>
                                    <th>About user</th>
                                </tr>

                                <tr>
                                    <td>
                                        <table class="table">
                                            <thead>
                                            <tr class="bg-white">
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>

                                            </tr>
                                            </thead>
                                            <tbody id="userInfo">

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/listOfUser.js"></script>
<script src="/showUserInfo.js"> </script>
<script src="/newUser.js"></script>
<script src="/modalEdit.js"></script>
<script src="/modalDelete.js"></script>
<script src="/editUser.js"></script>
<script src="/deleteUser.js"></script>
</body>
</html>
</html>